* {
    padding: 0%;
    margin: 0%;
}

body {
    margin: 0;
    font-family: Arial, sans-serif;
}

html {
    scroll-behavior: smooth;
}

header {
    width: 100%;
    background-color: #1877F2;
    /* position: sticky;
      top: 0px;
      z-index: 1; */
}

.HeaderBody {
    width: 80%;
    padding: 10px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    color: #fff;
}

header .logo {
    font-size: 24px;
    font-weight: bold;
    color: #fff;
}

header nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

header nav ul li {
    margin: 0 15px;
    padding: 3px;
}

header nav ul li a:hover {
    color: #fff;
}

header nav ul li a {
    color: #dfdfdf;
    text-decoration: none;
}

.HeaderBody .Menu-Icons {
    float: right;
    font-size: large;
    display: none;
}

main {
    width: 100%;
    width: auto;
    overflow: hidden;
}

.section-1 {
    width: 100%;
    height: 92vh;
}

.section-1-body {
    width: 100%;
    height: 100%;
}

.section-1-body video {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

.section-2 {
    width: 100%;
    background: linear-gradient(to bottom, #FFFFFF, #E5E5E5);
    background-color: rgba(24, 118, 242, 0.1);
}

.section-2-body {
    width: 80%;
    margin: auto;
    padding: 5vh 2vh;
    text-align: justify;
    background-color: rgba(24, 118, 242, 0.1);
    margin-top: 20px;
    border-radius: 15px;
}

.section-2-body h2 {
    color: #1D1D1D;
    font-size: 2rem;
    text-align: center;
}

.section-2-body h3 {
    font-size: medium;
    text-align: left;
}

.section-2-body P {
    text-align: center;
    color: #37474F;
    font-size: small;
    margin-top: 20px;
}

.section-2-body ul {
    margin: 15px 0px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 0px 40px;
}

.section-2-body ul li {
    width: 45%;
    height: auto;
    padding: 10px 0px;
    font-size: 1rem;
    /* box-shadow: 0px 0px 20px rgba(0,0,0,0.3);*/
    border-bottom: 1px solid rgba(0, 0, 0, 0.3);
    color: #37474F;
}

/* .section-2-body ul li h3{
    text-align: center;
} */
.section-2-body button,
.section-2-body a {
    text-decoration: none;
    padding: 5px;
    font-size: small;
    font-weight: bold;
    color: #FAFAFA;
    background-color: #1877F2;
}

.section-2-body button {
    border: 2px solid #1877F2;
    border-radius: 5px;
    text-align: center;
    margin-left: 45%;
}

.section-3 {
    width: 100%;
    background-color: #E5E5E5;
    padding: 5vh 0vh;
}

.section-3 h1 {
    font-size: 2rem;
    text-align: center;
    color: #1D1D1D;
}

.section-3-body {
    width: 80%;
    margin: auto;
    padding: 5vh;
}

.service {
    width: 100%;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px 0px;
    column-gap: 30px;
    flex-direction: row-reverse;
}

.service:nth-child(even) {
    flex-direction: row;
}

.service-details h2 {
    font-size: 1.5rem;
    color: #37474F;
    border-bottom: 2px solid rgba(24, 118, 242, 0.7);
    padding: 5px 5px;

}

.service-details p {
    font-size: 1.1rem;
    margin-top: 20px;
    color: #37474F;
}

.service-details {
    width: 100%;
    text-align: justify;
}

.service-img-slider {
    max-width: 50vh;
    height: 27vh;
    overflow: hidden;
    position: relative;
    border-radius: 15px;
    /* background-color: rebeccapurple; */
    float: left;
    /* margin:0px 20px 5px 0px; */
}

.service-img-slide {
    display: flex;
    transition: transform 0.5s ease-in-out;
}

.slide {
    min-width: 100%;
    height: 100%;
}

.service-img-slider img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}

.section-4 {
    width: 100%;
    height: 64vh;
    background: url('Images/contact-form-bg.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 15vh 0vh;
}

.section-4-body {
    width: 30%;
    margin: auto;
    padding: 5vh 7vh;
    background-color: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(1px);
    border-radius: 5px;
    box-shadow: 0px 0px 10px 5px #FFFFFF;
}

.section-4-body h2 {
    text-transform: uppercase;
    color: #FFFFFF;
    text-align: center;
    padding: 5px 0px;
}

.section-4-body .contactform {
    display: grid;
    padding: 3vh 0vh;
}
.contactform .inputfeildgroup{
    width: 100%;
    display: flex;
    gap: 2%; 
}
.contactform .inputfeildgroup div{
    width:49%;
}
.contactform .feilds{
    display: grid;
    width: 100%;
    margin-bottom: 2vh;
}
.contactform label {
    font-size: 1rem;
    font-weight: bold;
    color: #FFFFFF;
    margin-top: 15px;
    margin-bottom: 10px;
}

.contactform input,
.contactform textarea {
    padding: 10px 5px;
    font-size: medium;
    background-color: transparent;
    border: 1px solid gray;
    resize: none;
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.7);
}

.contactform input:hover,
.contactform textarea:hover {
    border: 1px solid black;
}

.contactform input:focus,
.contactform textarea:focus {
    outline: none;
    border: 1px solid black;
}

.section-4-body .contactform-buttons {
    margin-top: 20px;
}

.contactform-buttons button {
    width: 20%;
    padding: 7px 2px;
    border-radius: 2px;
    border: 1px solid #1877F2;
    background-color: transparent;
    border-radius: 5px;
    background-color: #1877F2;
    color: #FFFFFF;
    font-weight: bold;
    font-size: 1rem;
    cursor: pointer;
    margin-right: 10px;
}



.contactform-buttons button:focus {
    box-shadow: 0px 0px 5px #1877F2;
}

footer {
    width: 100%;
    background-color: #1d1d1d;
    padding: 5vh 0vh;
}

.footer-body {
    width: 80%;
    margin: auto;
}


.footer-body .socialmedia {
    text-align: center;
}

.footer-body .socialmedia ul {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 20px;
    align-items: center;
    list-style: none;
}

.footer-body .socialmedia ul li {
    width: 20px;
    background-color: rgba(255, 255, 255, 0.9);
    padding: 5px;
    border-radius: 5px;
    margin: 0px 20px;
}

.footer-body .socialmedia ul li a {
    color: #e1e1e1;
}

.footer-body .socialmedia ul li:nth-child(1) {
    background-color: #d93025;
}

.footer-body .socialmedia ul li:nth-child(2) {
    background-color: #0077B5;
}

.footer-body .socialmedia ul li:nth-child(3) {
    background-color: #4CAF50;
}

.footer-body .socialmedia ul li:nth-child(4) {
    background-color: #25D366;
}

.footer-body h4 {
    color: #ebebeb;
}

.footercopyright {
    width: 100%;
    color: #747474;
    font-size: small;
    text-align: center;
}


/* Mobile devices (up to 600px) */
@media (max-width: 600px) {
    header {
        /* position: fixed; */
        z-index: 1;
    }

    .HeaderBody {
        width: 90%;
        position: relative;
    }

    header .logo {
        font-size: 18px;
    }

    .NavItems {
        display: none;
        background-color: rgba(29, 29, 29, 0.9);
        position:absolute;
        right:5px;
        top:46px;
        padding: 5px 0px;
        border-radius: 5px;
        z-index:3;
    }
    
    .HeaderBody .Menu-Icons {
        display: block;
    }

    #CloseMenu,
    #OpenMenu {
        float: right;
        font-size: x-large;
        display: none;
        transition: 3s;
    }

    #OpenMenu {
        display: block;
    }
    .section-2-body {
        width: 85%;
    }

    .section-2-body ul {
        gap: 0px 30px;
    }

    .section-2-body ul li {
        font-size: 0.80rem;
    }

    .section-2-body button {
        margin-left: 40%;
    }

    .service {
        display: grid;
        padding: 20px 0px;
        column-gap: 0px;
    }

    .service-details {
        width: 100%;
    }

    .service-details h2 {
        font-size: 1.4rem;
    }

    .service-details p {
        font-size: 1rem;
    }

    .service-img-slider {
        width: 100%;
        height: 200px;
        margin-top: 20px;
    }

    .section-4-body {
        width: 50%;
    }

    .section-4-body {
        padding: 2vh 5vh;
        width: 60%;
    }.contactform .inputfeildgroup {
        width: 100%;
        display: grid;
    }
    .contactform input, 
    .contactform textarea {
        width: 100%;
        box-sizing: border-box; /* Ensures padding doesn't affect width */
    }
    .contactform .inputfeildgroup div {
        width: 100%;
    }
    .contactform-buttons button {
        padding: 5px 5px;
        width: 48%;
    }

    .contactform-buttons button p {
        font-size: small;
    }

    .footer-body {
        width: 80%;
    }


    .footer-body .socialmedia ul {
        justify-content: center;
        align-items: center;
        padding: 5px;
    }

    .footer-body .socialmedia ul li {
        width: 15px;
        margin: 1px 5px;
    }

    .footer-body .socialmedia ul li a {
        font-size: 12px;
    }

    .footer-body h4 {
        font-size: 0.70rem;
    }

    .footercopyright {
        width: 100%;
    }

}

/* Tablets (601px to 1024px) */
@media (min-width: 601px) and (max-width: 1024px) {
    .HeaderBody {
        width: 90%;
    }

    header .logo {
        font-size: 20px;
    }

    header nav ul li {
        margin: 0 10px;
    }

    .section-2-body P {
        font-size: 1rem;
    }

    .section-3-body {
        width: 85%;
    }

    .service {
        display: block;
        padding: 20px 0px;
    }

    .service-img-slider {
        max-width: 35vh;
        height: 20vh;
        margin: 10px 15px 0px 0px;
    }

    .section-4-body {
        width: 55%;
        padding: 2vh 5vh;
    }
    
    .contactform-buttons button {
        padding: 5px 5px;
        width: 48%;
    }

    .footer-body {
        width: 90%;
        justify-content: space-around;
        align-items: flex-start;
    }

    .footer-body .contact {
        width: 30%;
    }

    

    .footer-body .socialmedia ul {
        justify-content: center;
        align-items: center;
        padding: 5px;
    }

    .footer-body .socialmedia ul li {
        margin: 1px 5px;
    }

    .footer-body .socialmedia ul li a {
        font-size: 15px;
    }

    .footercopyright {
        font-size: medium;
        margin-top: 10px;
    }

    .footer-body h4 {
        font-size: 1.1rem;
    }

    .contactdetails p {
        font-size: 1rem;
    }

    .footercopyright {
        width: 100%;
    }
}
